/*loginShopping-v3.php styling
 (Welcome Account Page / index.php styling / addUser-v6.php)
*/

.form {
	margin-left: 10px;
	padding-bottom: 70px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.thankyou {
    height: 400px;
}


